<html>
  <head>
    <title>CUBER</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/css/cuber.css' />
  </head>

  <body>
    <div class='page'>
      Test
      <div class='game-window w'>
        {{> ultra-menu}}
      </div>
    </div>

	
  </body>
</html>