<div>
  <link
    rel='stylesheet'
    href='../../public/css/game-2.css'
  />
  <h1>Рівень складності</h1>
  <select class='lavel' name='0' id='0'>
    <option value='1'>Легкий</option>
    <option value='2'>Середній</option>
    <option value='3'>Важкий</option>
  </select>

  <a class='button' href='/game-2-play-playing'>Грати</a>
</div>