<div>
  <div class='button-primmaru-menu'>
    <a
      href='/game-2-play'
      class='button button-play'
    >Грати</a>
    <a class='button button-settings'>Налаштування</a>

  </div>
  <div class='subs'>
    <a
      href='https://www.tiktok.com/@tumofij_kisil'
      class='tik-tok'
      style=' '
    ></a>
    <a
      href='https://www.instagram.com/gde_moroguno/'
      class='instagram'
      style=' '
    ></a>
  </div>
</div>