{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
  <nav>
    <div class='nav nav-tabs'>

      <div class='nav-item'>
        <a href='/' class='nav-link active'>Home page</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='/testy' class='nav-link'>Testy</a>
      </div>
      <div class='nav-item'>
        <a href='/settings' class='nav-link'>Settings</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='#' class='nav-link disabled'>FAQ page</a>
      </div>

      <a href='/sign' class='btn btn-outline-success'>Sign
        in</a>
    </div>
  </nav>

  <h1>Hello world</h1>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}