<div>
  <link
    rel='stylesheet'
    href='../../public/css/game-2.css'
  />
  <h1 class='downloading'>Завантаження
    <div class='spinner-border text-success' role='status'>
      <span class='visually-hidden'>Loading...</span>
    </div>
  </h1>

</div>