<main>
  <nav>
    <div class='nav nav-tabs'>

      <div class='nav-item'>
        <a href='/' class='nav-link'>Home page</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='/testy' class='nav-link'>Testy</a>
      </div>
      <br />
      <div class='nav-item'>
        <a
          href='/settings'
          class='nav-link active'
        >Settings</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='#' class='nav-link disabled'>FAQ page</a>
      </div>

      <div class='nav-item'>
        <a href='/myStoris' class='nav-link'>My Storis</a>

      </div>

      <a href='/sign' class='btn btn-outline-success'>Sign
        in</a>
    </div>
  </nav>
  <div class="col-2">
    {{> cardLoad}}
  </div>
</main>