<main>
  <nav>
    <div class='nav nav-tabs'>
      <div class='nav-item'>
        <a href='/' class='nav-link'>Home page</a>
      </div>
    </div>
  </nav>

  <br />
  <center>
    <div class='col-4'>
      <div class='card'>
        <div class='card-body'>
          <center>
            Email:
            <br />
            <input
              type='text'
              class='text-center'
              value='email@gmail.com'
            /><br /><br />
            Password:
            <br />
            <input
              class='text-center'
              type='password'
              alt='password'
            />
            <br /><br />
            <br /><br />

            <input type='submit' formtarget='text/plain' />
          </center>
        </div>
      </div>
    </div>
  </center>
</main>