<main>
  <nav>
    <div class='nav nav-tabs'>
      <div class='nav-item'>
        <a href='/' class='nav-link'>Home page</a>
      </div>
    </div>
  </nav>

  <br />
  <center>
    <div class='col-4'>
      <div class='card'>
        <div class='card-body'>
          <center>
            <form>

              <div class='form-floating mb-3'>
                <input
                  type='email'
                  class='form-control'
                  id='floatingInput'
                  placeholder='name@example.com'
                />
                <label for='floatingInput'>Email address</label>
              </div>
              <div class='form-floating'>
                <input
                  type='password'
                  class='form-control'
                  id='floatingPassword'
                  placeholder='Password'
                />
                <label
                  for='floatingPassword'
                >Password</label>
              </div>
              <br />
              <div class='form-floating'>
                <select
                  class='form-select'
                  id='floatingSelect'
                  aria-label='Floating label select example'
                >
                  <option
                    value='1'
                    selected
                  >Чоловік</option>
                  <option value='2'>Жінка</option>
                  <option value='3'>Не бажаю вказувати</option>
                </select>
                <label for='floatingSelect'>Стать</label>
              </div>

              <br />
              <div class='mb-3 form-check'>
                <input
                  type='checkbox'
                  class='form-check-input'
                  id='exampleCheck1'
                />
                <label
                  class='form-check-label'
                  for='exampleCheck1'
                >Privacy policu</label>
              </div>
              <button
                type='submit'
                class='btn btn-primary'
              >Submit</button>
            </form>
          </center>
        </div>
      </div>
    </div>
  </center>
</main>