<main>
  <nav>
    <div class='nav nav-tabs'>

      <div class='nav-item'>
        <a href='/' class='nav-link'>Home page</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='/testy' class='nav-link active'>Testy</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='/settings' class='nav-link'>Settings</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='#' class='nav-link disabled'>FAQ page</a>
      </div>

      <a href='/sign' class='btn btn-outline-success'>Sign
        in</a>
    </div>
  </nav>

  <div>
    <div class='display-6'>Tests</div>
  </div>
  <br /><br />
  <input
    type='checkbox'
    class='btn-check'
    id='btn-check-outlined'
    autocomplete='off'
  />
  <label
    class='btn btn-outline-primary'
    for='btn-check-outlined'
  >Single toggle</label><br />

  <input
    type='checkbox'
    class='btn-check'
    id='btn-check-2-outlined'
    checked
    autocomplete='off'
  />
  <label
    class='btn btn-outline-secondary'
    for='btn-check-2-outlined'
  >Checked</label><br />

  <input
    type='radio'
    class='btn-check'
    name='options-outlined'
    id='success-outlined'
    autocomplete='off'
    checked
  />
  <label
    class='btn btn-outline-success'
    for='success-outlined'
  >Checked success radio</label>

  <input
    type='radio'
    class='btn-check'
    name='options-outlined'
    id='danger-outlined'
    autocomplete='off'
  />
  <label
    class='btn btn-outline-danger'
    for='danger-outlined'
  >Danger radio</label>
</main>