<main>
  <nav>
    <div class='nav nav-tabs'>

      <div class='nav-item'>
        <a href='/' class='nav-link'>Home page</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='/testu' class='nav-link active'>Testy</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='/settings' class='nav-link'>Settings</a>
      </div>
      <br />
      <div class='nav-item'>
        <a href='#' class='nav-link disabled'>FAQ page</a>
      </div>

      <a href='/sign' class='btn btn-outline-success'>Sign
        in</a>
    </div>
  </nav>

  <div>
    <div class='display-6'>Tests</div>
  </div>
</main>