<div class='card' aria-hidden='true'>
  <img
    src='https://images.unsplash.com/photo-1691337667743-e63d342e3e85?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxODY2Nzh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTI0NzY0MTd8&ixlib=rb-4.0.3&q=80&w=1080'
    class='card-img-top'
    alt='...'
  />
  <div class='card-body'>
    <h5 class='card-title placeholder-glow'>
      <span class='placeholder col-6'></span>
    </h5>
    <p class='card-text placeholder-glow'>
      <span class='placeholder col-7'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-6'></span>
      <span class='placeholder col-8'></span>
    </p>
    <a
      class='btn btn-primary disabled placeholder col-6'
      aria-disabled='true'
    ></a>
  </div>
</div>