<nav>
  <div class='nav nav-tabs'>

    <div class='nav-item'>
      <a href='/' class='nav-link active'>Home page</a>
    </div>
    <br />
    <div class='nav-item'>
      <a href='/settings' class='nav-link'>Settings</a>
    </div>
    <br />
    <div class='nav-item'>
      <a href='#' class='nav-link'>FAQ page</a>
    </div>
  </div>
</nav>