<div class='nav'>
  <div class='nav-item'>
    <input
      type='checkbox'
      class='btn-check'
      id='btn-check-5-outlined'
      checked
      autocomplete='off'
    />
    <label
      class='btn btn-outline-danger display-4'
      for='btn-check-5-outlined'
    >^</label>
  </div>

  <div class='nav-item'>
    <input
      type='checkbox'
      class='btn-check'
      id='btn-check-6-outlined'
      checked
      autocomplete='off'
    />
    <label
      class='btn btn-outline-warning display-4'
      for='btn-check-6-outlined'
    >^</label>
  </div>

  <div class='nav-item'>
    <input
      type='checkbox'
      class='btn-check'
      id='btn-check-7-outlined'
      checked
      autocomplete='off'
    />
    <label
      class='btn btn-outline-info display-4'
      for='btn-check-7-outlined'
    >^</label>
  </div>

  <div class='nav-item'>
    <input
      type='checkbox'
      class='btn-check'
      id='btn-check-8-outlined'
      checked
      autocomplete='off'
    />
    <label
      class='btn btn-outline-success display-6'
      for='btn-check-8-outlined'
    >^</label>
  </div>
</div>