<link
  href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'
  rel='stylesheet'
  id='bootstrap-css'
/>

<link rel='stylesheet' href='/css/ultra-menu.css' />
<script
  src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'
></script>
<script
  src='//code.jquery.com/jquery-1.11.1.min.js'
></script>

<div>

  <div class='row container'>

    <select
      type='text'
      class='form-control icon multiselect multiselect-icon'
      role='multiselect'
    >
      <option
        value='0'
        data-icon='glyphicon-picture'
        selected='selected'
        style='background-image: url(/image/svg/fish.svg);'
      >Pause</option>
      <option
        value='1'
        data-icon='glyphicon-link'
        class='opti'
      >Link</option>
      <option
        value='2'
        data-icon='glyphicon-pencil'
        class='opti'
      >Setings</option>
      <option
        value='3'
        data-icon='glyphicon-shopping-cart'
        class='opti over'
      >game over</option>
    </select>

  </div>

</div>